<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <h1>Hi <%= faculty %> !!!
            </h1>
        </div>
        <div class="col-6 offset-3">
            <h2>Please fill the below form to distribute feedback form</h2>
        </div>

        <form action="/api/v1/faculty_user/distributeForms" method="POST">
            <div class="col-6 offset-3 mb-3">
                <select class="form-select" aria-label="Default select example" name="batch">
                    <option selected>Please select the batch</option>
                    <option value="Y20">Y20</option>
                    <option value="Y21">Y21</option>
                    <option value="Y22">Y22</option>
                </select>
            </div>

            <div class="col-6 offset-3 mb-3">
                <select class="form-select" aria-label="Default select example" name="name">
                    <option selected>Please select the type of feedback form to be distributed</option>
                    <option value="workshop">Workshop</option>
                    <option value="industrialvisit">Industrial Visit</option>
                    <option value="internship">Intenship</option>
                </select>
            </div>

            <div class="col-6 offset-3 mb-3">
                <select class="form-select" aria-label="Default select example" name="course">
                    <option selected>Please select the course feedback form </option>
                    <% for(let course of courses) { %>
                        <option value="course">
                            <%= course %>
                        </option>
                        <% } %>
                </select>
            </div>

            <div class="col-6 offset-3 mb-3">
                <div class="form-floating">

                    <textarea class="form-control" placeholder="Please add a description of the form"
                        id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>
            </div>

            <div class="col-6 offset-3 mb-3">
                <button class="btn btn-success">DistributeForm</button>
            </div>
        </form>

    </div>
    </div>