<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <h1>Hi <%= student.username %> of <%= student.batch %>!!!
            </h1>
        </div>
        <div class="col-6 offset-3">
            <h1 class="text-center">The forms that you have to fill are:</h1>

            <% for(let formName of formlink) { %>

                <p><a href="/fillForms/internship/<%= student.id %>"
                        class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <%= formName %>
                    </a></p>
                <% } %>

        </div>
    </div>