<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Workshop Feedback Form</h1>
        <div class="col-6 offset-3">
            <form action="/api/v1/forms/<%= form._id %>" method="POST">
                <div class="">
                    <label class="form-label" for="title" display="block">How would you rate your overall satisfaction
                        with the internship experience?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a1" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a1">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" name="a1">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>


                <div class="">
                    <label class="form-label" for="title" display="block">Did the internship meet your expectations?
                        Please explain.
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a2" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a2">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>


                <div class="">
                    <label class="form-label" for="title" display="block">How would you rate the level of support and
                        guidance provided by your supervisor/mentor?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a3" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a3">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a3">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>


                <div class="">
                    <label class="form-label" for="title" display="block">Did the internship help you develop relevant
                        skills for your field of study/career goals?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a4" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a4">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a4">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>

                <div class="">
                    <label class="form-label" for="title" display="block">Were the tasks and responsibilities assigned
                        to you during the internship meaningful and aligned with your learning objectives?
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a5" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a5">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a5">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>

                <div class="">
                    <label class="form-label" for="title" display="block">How would you rate the communication and
                        collaboration within the internship team?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a6" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a6">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a6">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>

                <div class="">
                    <label class="form-label" for="title" display="block">Did you encounter any challenges during the
                        internship?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a7" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a7">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a7">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>

                <div class="">
                    <label class="form-label" for="title" display="block">Do you feel that the internship provided
                        valuable networking opportunities?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a8" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a8">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a8">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>


                <div class="">
                    <label class="form-label" for="title" display="block">Would you recommend this internship program to
                        other students? Why or why not?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a9" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a9">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a9">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>


                <div class="">
                    <label class="form-label" for="title" display="block">Is there any additional feedback or
                        suggestions you would like to provide to improve the internship experience?
                    </label>
                </div>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="a10" value=1>
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2 name="a10">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value=3 name="a10">
                        <label class="form-check-label" for="inlineCheckbox3">3</label>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Submit your Responses</button>
                </div>
            </form>

        </div>
    </div>